.home-section {
  margin-top: 60px;
}

.home-container {
  padding: 0 100px;
}

.books {
  margin-bottom: 40px;
}

.home-title h3 {
  font-weight: 600;
  text-transform: capitalize;
  padding: 18px 0 24px 0;
  font-family: "Poppins";
}

.book-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}

.book-item {
  border-radius: 5px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 20px -5px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.book-item:hover {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 15px 30px -5px;
  transform: translateY(-5px);
  cursor: pointer;
}

.book-image {
  width: 100%;
}

.book-image img {
  width: 100%;
  max-width: 100%;
  border-radius: 5px 5px 0 0;
  max-height: 300px;
}

.book-info {
  margin: 20px 0;
}

.book-title {
  display: flex;
  justify-content: center;
}

.book-title h3 {
  font-size: 22px;
  font-weight: 700;
  font-family: "Literata", serif;
  text-transform: capitalize;
  color: #52525b;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 250px;
}

.book-author {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.book-author span {
  font-size: 18px;
  color: #727279;
}

.details {
  background: #6f4f37;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  border-radius: 0 0 5px 5px;
  color: #fff;
}

.details span {
  font-family: "Poppins";
  text-transform: capitalize;
}
